<h1> Stickys </h1>
<p><%= link_to "New Sticky", new_sticky_path %></p>
<% @stickys.each do |sticky| %>
  <h2><%= sticky.title %></h2>
  <%= link_to 'Show Sticky', sticky_path(sticky) %>
  <%= link_to 'Edit Sticky', edit_sticky_path(sticky) %>
<% end %>